*.git
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.launch
*.idea
*.iml
*.ipr
*.iws
*.xml
/bin
/build
/config
/crash-reports
/eclipse
/logs
/mods
/resourcepacks
/run
/saves
/out
usernamecache.json
usercache.json
options.txt
.classpath
.gradle/vcsWorkingDirs/gc.properties
.gradle/buildOutputCleanup/cache.properties
Structures/test.java
